.container {
  background-color: #ffffff;
  border-radius: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 48px;
  max-width: 323px;
  list-style-type: none;
}

.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.heading {
  color: #171f46;
  font-size: 10px;
  font-family: 'Roboto';
}
.description {
  color: #64748b;
  font-size: 10px;
  font-family: 'Roboto';
  text-align: left;
}
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.card-img {
  width: 80px;
  height: 80px;
}
